* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

canvas {
    width: 100%;
    height: 100%;
}


/* PointLockBlocker element */
#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: table;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF
}

#instructions {
    vertical-align:middle;
    display: table-cell;
    width: 100%;
}

#instructions span:first-child {
    font-size: 3em;
    display: block;
}

#crosshair {
    width: 262px;
    height: 262px;
    position: absolute;
    background-repeat: no-repeat;
}

.ui-box {
    padding: 10px;
    position: absolute;
    margin: 10px;
    color: #ffffff;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

.ui-box div:first-child {
    font-size: 1em;
}
.ui-box div:last-child {
    font-size: 3em;
}